ol {
    text-align: left;
    margin-left: 40%;
}

.visible {
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 5s ease, transform 5s ease;
  }
  
  .hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 5s ease, transform 5s ease;
  }

  
  