.hero {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

h1.name {
    font-size: 4.5vmin;
}

p.job {
    font-size: 1.6vmin;
}
