
nav {
  position: fixed;
  top: 50%;
  transform: rotate(180deg);
  background-color: transparent;
  text-align: left;
  writing-mode: vertical-rl;
  transform-origin: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  margin-top: -21%;
  margin-left: -5%;
  color: #282D33;
}
  
  nav a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    font-size: 1.6vmin;
    font-weight: 400;
    opacity: 0.5;
    transition: opacity 0.5s;
    color: #282D33 !important;
  }
  
  nav a.active {
    font-weight: 700;
    opacity: 1;
    color: #282D33 !important;
  }
  
section.int {
  height: 90vh;
}