.projects-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Spacing between projects */
    height: 100vh;  /* Full screen height */
    width: 100%;  /* Full screen width */
    padding: 20px; /* Optional padding around the projects */
  }
  
  .project {
    display: flex;
    flex-direction: column; /* Ensures h3, img, and p are stacked */
    align-items: center; /* Center content horizontally */
  }

  .project img {
    max-width: 100%; /* Ensure images don't overflow their container */
    margin: 10px 0; /* Optional spacing */
  }
  
  .project h3 {
    margin-bottom: 10px; /* Optional spacing */
  }

.carousel-caption {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 13vmin;
}
span.carousel-control-prev-icon {
  margin-left: -14vmin !important;
}

a.proj {
  font-size: 2rem !important;
  margin-left: 2vmin;
  cursor: pointer;
}
.fa-external-link-alt {
  font-size: 1.7rem !important;
  cursor: pointer;
}

a.asset {
  color: #e6f1d0 !important;
  margin-left: -0.1vmin;
}

.fa-external-link-alt.asset {
  color: #e6f1d0 !important;
}

a.adoptly {
  color: #FFEDA6 !important;
}

.fa-external-link-alt.adoptly {

  color: #FFEDA6 !important;
}

a.projex {
  color: #91b4d8 !important;
}

.fa-external-link-alt.projex {
  color: #91b4d8 !important;
}

a.snake {
  color: #9592ee !important;
}

.fa-external-link-alt.snake {
  color: #9592ee !important;
}

.asset.carousel-caption {
  position: absolute;
    left: 38.5%;
    color: #fff;
    text-align: center;
    bottom: 10%;
}

.adoptly.carousel-caption {
  position: absolute;
  left: 36.5%;
  color: #fff;
  text-align: center;
  bottom: 10%;
}
.projex.carousel-caption {
    position: absolute;
    left: 37%;
    color: #fff;
    text-align: center;
    bottom: 17%;
}
.snake.carousel-caption {
  position: absolute;
  left: 37%;
  color: #fff;
  text-align: center;
  bottom: 18.5%;
}
  /* .project-card {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  
  .row:nth-child(even) .project-card {
    flex-direction: row;
  }
  
  .project-image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .project-details {
    flex: 2;
    padding: 20px;
    text-align: left;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
  } */
  
  /* Add responsive design if needed */
  @media screen and (max-width: 768px) {
    .project-card {
      flex-direction: column;
      text-align: center;
    }
  
    .project-image,
    .project-details {
      padding: 10px;
    }
  }
  