.skills-section {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.694, 0, 0.335, 1) 0s;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.skills-title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%
}

.skills-container {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
    display: flex; /* Display skills columns side by side */
    justify-content: space-between;
}

.skills-cols {
    flex: 1; /* Distribute space evenly between columns */
    padding: 0 15px; /* Some padding between columns */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill {
    margin: 3px 0;
    font-size: .9rem;
}