@import 'locomotive-scroll/dist/locomotive-scroll.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeIn 1.5s ease forwards; 
  }


.project-from-left {
    animation: comeFromLeft 1.5s ease forwards;
  }
  
  .project-from-right {
    animation: comeFromRight 1.5s ease forwards;
  }
  
  @keyframes comeFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes comeFromRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .your-fade-class {
    opacity: 0;
    transition: opacity 1s ease-out;
  }  

  
  .skills-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333; /* Adjust color as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px; /* Adjust height as needed */
    transform: translateY(100%);
    transition: transform 0.3s ease;
    overflow: hidden; /* Hide overflow */
  }

  .skills-arrow {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    bottom: 5%;
    left: 50%;
  }
  
  .skills-banner.open {
    transform: translateY(0);
  }

  .skills-arrow.open {
    transform: translateY(0);
  }
  
  .arrow-container {
    position: absolute;
    bottom: -20px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333; /* Adjust color as needed */
    transition: transform 0.3s ease;
  }
  
  .arrow.up {
    transform: rotate(180deg);
  }

  .arrow-container:hover .arrow {
    transform: rotate(180deg);
  }

.icon {
    height: 5%;
    width: 5%;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.App {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
  }

  .hidden-section {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  

  .left-section {
    position: fixed;
    width: 25%;
    height: 100vh;
    overflow: hidden;
    display: flex; 
  flex-direction: column; 
  }

  .social-links {
    margin-top: auto; /* Pushes the links to the bottom */
    padding: 1rem; /* Adds some space around the links */
  }

  a {
    color: #000 !important; /* Set the color */
    margin-right: 1rem; /* Add space between the links */
    font-size: 1.5rem; /* Adjust the size */
  }
  
  .right-section {
    width: 100%;
    overflow-y: scroll;
  }
  
  div#about {
    margin-top: 15%;

  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }